
<!DOCTYPE html>
<html lang="en">
  <head>
  
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    
    <!-- Custom Style for the Page -->
    <style type="text/css">


    </style>

  </head>
    
    
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>
        <a href="http://thecodeplayer.com/">The Code Player - Samples</a>
        </h1>

        <ul>
          <li><a href="/codeplayer/accordionimageslider">Accordion Image Slider</a></li>
          <!-- Commented Out - Known Bug
          <li><a href="/codeplayer/animatedcheckboxes">Animated Checkboxes</a></li>-->
          <li><a href="/codeplayer/breadcrumbs">Breadcrumbs</a></li>
          <li><a href="/codeplayer/floatlabels">Floating Labels</a></li>
          <li><a href="/codeplayer/gridanimation">Grid Animation</a></li>
          <li><a href="/codeplayer/imagefiltereffect">Image Filter Effect</a></li>
          <li><a href="/codeplayer/imagehover3d">Image Hover 3D</a></li>
          <li><a href="/codeplayer/imageswiththumbnails">Image Slider with Thumbnails</a></li>
          <li><a href="/codeplayer/inputform3d">3D Input Form</a></li>
          <li><a href="/codeplayer/lightboxgallery">Lightbox Gallery</a></li>
          <li><a href="/codeplayer/magnifyingglass">Magnifying Glass for Images</a></li>
          <li><a href="/codeplayer/multistepform">Multi-Step Sign Up Form</a></li>
          <li><a href="/codeplayer/offcanvasmenu">Off Canvas Menu</a></li>
          <li><a href="/codeplayer/pricetable">Price Table</a></li>
          <!-- Commented out because of known bug. See codeplayer_controller.rb

          <li><a href="/codeplayer/roundgauge">Round Gauge</a></li>
          -->
          <li><a href="/codeplayer/stopwatch">Stopwatch</a></li>
          <li><a href="/codeplayer/verticalaccordionmenu">Vertical Accordion Menu</a></li>
        </ul>
      </div>
    </div>
   </div>
  </body>
</html>